<app-header></app-header>
<section class="influencer-section">  
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="influ-ul">
                        <h5>Share Your Interest</h5>  
                        <ul>
                      <li><input type="checkbox" id="cb1" />
                        <label for="cb1">
                            <img src="assets/images/fitness.jpg" class="img-fluid"/>
                            <p class="ft-p">Fitness</p>     
                          </label>
                      </li>
                      <li><input type="checkbox" id="cb2" />
                        <label for="cb2">
                            <img src="assets/images/counsellors.jpg" class="img-fluid"/>
                            <p class="ft-p">Counsellors</p>   
                          </label>
                      </li>
                      <li><input type="checkbox" id="cb3" />
                        <label for="cb3">
                            <img src="assets/images/influensor.jpg" class="img-fluid"/>
                            <p class="ft-p">Influencer</p>   
                          </label>
                      </li>
                      <li><input type="checkbox" id="cb4" />
                        <label for="cb4">
                            <img src="assets/images/youtubers.jpg" class="img-fluid"/>
                            <p class="ft-p">Youtubers</p>   
                          </label>
                      </li>
                    <li><input type="checkbox" id="cb5" />
                        <label for="cb5">
                            <img src="assets/images/educators.jpg" class="img-fluid"/>
                            <p class="ft-p">Educators</p>   
                          </label>
                      </li> 
                        <li><input type="checkbox" id="cb6" />
                        <label for="cb6">
                            <img src="assets/images/valuetaiment.jpg" class="img-fluid"/>
                            <p class="ft-p">Valuetainment</p>   
                          </label>
                      </li>
                        <li><input type="checkbox" id="cb7" />
                            <label for="cb7">
                            <img src="assets/images/singers.jpg" class="img-fluid"/>
                            <p class="ft-p">Singers</p>   
                          </label>
                      </li>
                        <li><input type="checkbox" id="cb8" />
                            <label for="cb8">
                            <img src="assets/images/dancers.jpg" class="img-fluid"/>
                            <p class="ft-p">Dancers</p>   
                          </label>
                      </li>
                            <li><input type="checkbox" id="cb9" />
                            <label for="cb9">
                            <img src="assets/images/actors.jpg" class="img-fluid"/>
                            <p class="ft-p">Actors</p>      
                          </label>
                      </li>
                            <li><input type="checkbox" id="cb10" />
                            <label for="cb10">
                            <img src="assets/images/gamers.jpg" class="img-fluid"/>
                            <p class="ft-p">Gamers</p>      
                          </label>
                      </li>
                            <li><input type="checkbox" id="cb11" />
                            <label for="cb11">
                            <img src="assets/images/poadcaster.jpg" class="img-fluid"/>
                            <p class="ft-p">Podcasters</p>      
                          </label>
                      </li>
                            <li><input type="checkbox" id="cb12" />
                            <label for="cb12">
                            <img src="assets/images/entraprenurs.jpg" class="img-fluid"/>  
                            <p class="ft-p">Entrepreneurs</p>      
                          </label>
                      </li>
                    </ul>
                    </div>
                </div>
            </div>  
        </div>
      </section>
      <section class="share-interest">
        <div class="container">
            <div class="row">
                <div class="col-md-12 sh">
                    <h5>Share Your Social Link</h5>
                    <div class="input-group mb-2">
				      <div class="input-group-append">
                         <span class="input-group-text fb-color"><i class="fa fa-facebook" aria-hidden="true"></i></span>
				      </div>
				      <input type="text" name="" class="form-control input_user fb-in-background" value="" placeholder="Facebook">  
					</div>
                    <div class="input-group mb-2">
				      <div class="input-group-append">
                         <span class="input-group-text insta-color"><i class="fa fa-instagram" aria-hidden="true"></i></span>
				      </div>
				      <input type="text" name="" class="form-control input_user insta-in-background" value="" placeholder="Instagram">  
					</div>
                    <div class="input-group mb-2">
				      <div class="input-group-append">
                         <span class="input-group-text youtube-color"><i class="fa fa-youtube-play" aria-hidden="true"></i></span>
				      </div>
				      <input type="text" name="" class="form-control input_user youtube-in-background" value="" placeholder="Youtube">  
					</div>
                    <div class="input-group mb-2">
				      <div class="input-group-append">
                         <span class="input-group-text twitter-color"><i class="fa fa-twitter" aria-hidden="true"></i></span>
				      </div>
				      <input type="text" name="" class="form-control input_user fb-in-twiter" value="" placeholder="Twitter">  
					</div>
                    <div class="submit-div">
                        <button type="submit" class="sb-btn">Submit</button>
                    </div>
                </div>
            </div>  
        </div>
      </section>
<app-footer></app-footer>
