<app-header></app-header>
<section class="subcrip-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form  [formGroup] = "angForm" (ngSubmit)="subscribe(angForm.value)" >
                <div class="subcrip-bx">  
                    <h2>Subscription for <span class="sub-titl">Netwood</span></h2>
                    <div class="sub-logo">
                        <img src="assets/images/netwood-logo.png" class="img-fluid">       
                    </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Phone : </label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" formControlName="netwood_phone" id="" name="netwood_phone" >
                            </div>
                          </div>
                </div>
                
                <!-- </form> -->
                <div class="subcrip-bx gm-background">
                    <h2>Subscription for <span class="sub-titl">Newo Games</span></h2>
                    <div class="sub-logo">
                        <img src="assets/images/netwood-games-logo.png" class="img-fluid">       
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Phone :</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="" formControlName="newogames_phone" name="newogames_phone" >
                        </div>
                    </div>
                </div>
                <div class="subcrip-bx star-background">
                    <h2>Subscription for <span class="sub-titl">Stars Hunt</span></h2>
                    <div class="sub-logo">
                        <img src="assets/images/StarLogo.png" class="img-fluid">       
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Phone :</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="" name="starhunt_phone" formControlName="starhunt_phone">
                        </div>
                    </div>
                </div>
                    <!-- <button type="submit" class="sb-nt-btn">Submit</button> -->
                <button class="sign-in-btn">Save</button> 

                </form>
            </div>
        </div>  
    </div>
  </section>
<app-footer></app-footer>
