<section class="pr-n">
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/nagin.jpg" class="img-fluid pr-n-round-img"> 
                    <div class="ng-text-img">
                        <img src="assets/images/n-text-png.png" class="img-fluid">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/pr-n-id-2.jpg" class="img-fluid pr-n-round-img"> 
                    <div class="ng-text-img">
                        <img src="assets/images/pr-n-id-2-text.png" class="img-fluid">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/pr-n-id-3.jpg" class="img-fluid pr-n-round-img">
                    <div class="ng-text-img">
                        <img src="assets/images/pr-n-id-3-text.png" class="img-fluid">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/pr-n-id-4.jpg" class="img-fluid pr-n-round-img">
                    <div class="ng-text-img">
                        <img src="assets/images/pr-n-id-4-text.png" class="img-fluid">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/nagin.jpg" class="img-fluid pr-n-round-img"> 
                    <div class="ng-text-img">
                        <img src="assets/images/n-text-png.png" class="img-fluid">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/pr-n-id-2.jpg" class="img-fluid pr-n-round-img"> 
                    <div class="ng-text-img">
                        <img src="assets/images/pr-n-id-2-text.png" class="img-fluid">
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o> 
    </div>
  </section>
