<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--<link rel="stylesheet" href="assets/css/main-index-style.css">-->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Sign Up</title>  
       <style>
          body{
              position: fixed;
              overflow: hidden;
          }
      </style>  
  </head>
  <body>
    <section class="sign-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sign-box">
                        <div class="sign-text">
                            <h1>Sign Up</h1>
                            <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)">
                                <input type="text" name="name" formControlName="name" class="e-ph" placeholder="Name">
                                <input type="text" name="phone" formControlName="phone" class="e-ph" placeholder="Phone No">
                                <input type="text" name="email" formControlName="email" class="e-ph" placeholder="Email"> 
                                <input type="password" name="Password" formControlName="password" class="e-ph" placeholder="Password"> 
                                <button class="sign-in-btn">Sign Up</button> 
                            </form>
                            <p class="go-bt-sign">Go back to <a routerLink=""> Sign In</a></p>         
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
