<app-header></app-header>
<section class="what-to-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="wht-h2">What to watch</h2>
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-fan-favourite" role="tab" aria-controls="nav-home" aria-selected="true">Fan Favourites</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-top-picks" role="tab" aria-controls="nav-profile" aria-selected="false">Top Picks</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-most-popular" role="tab" aria-controls="nav-contact" aria-selected="false">Most Popular</a>
                    </div>
                  </nav>
                  <div class="tab-content px-sm-0 pxy" id="nav-tabContent"><!--py-3 px-3-->
                    <div class="tab-pane fade show active" id="nav-fan-favourite" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row mt-top">
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/w-t-1.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/w-t-2.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row mt-top">
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/w-t-3.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-2-sm-1.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row mt-top">
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-2-sm-2.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-2-sm-3.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row mt-top">
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-3-sm-1.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-3-sm-2.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row mt-top">
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-3-sm-3.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-4-sm-1.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row mt-top">
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-4-sm-2.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-4-sm-3.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row mt-top">
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-5-sm-1.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-5-sm-2.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane fade" id="nav-top-picks" role="tabpanel" aria-labelledby="nav-profile-tab">  
                      <div class="row mt-top">
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/w-t-3.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-2-sm-1.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row mt-top">
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-2-sm-2.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-2-sm-3.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-most-popular" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <div class="row mt-top">
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-4-sm-2.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="t-b-s-background">
                                <img src="assets/images/r-l-r-4-sm-3.jpg" class="img-fluid">
                                <div class="t-b-s-box">
                                    <ul class="t-b-s-ul">  
                                        <li>
                                            <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <p class="coming-p-2">Saving Private Ryan</p>
                                    <a routerLink="/ratingdetail" class="watch-btn">Watch Now</a>
                                    <a routerLink="/ratingdetail" class="trailer-a-tag"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Trailer</a>  
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>  
                  </div>
                </div>
            </div>
            
        </div>
      </section>
      <app-footer></app-footer>