<section class="t-show-section">
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-8">
              <h3 class="t-h3">World Class Ratting</h3>
          </div>
          <div class="col-md-6 col-4">
              <a routerLink="/ratinglist" class="see-a-tag">See More</a>
          </div> 
      </div>
    </div>
  <div class="container">  
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="slide">
                <div class="t-b-s-background">
                          <img src="assets/images/t-b-s-1.jpg" class="img-fluid">
                          <div class="t-b-s-box">
                              <ul class="t-b-s-ul">  
                                  <li>
                                      <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                                  </li>
                                  <li>
                                      <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                                  </li>
                              </ul>
                              <p class="coming-p">Coming 2 America</p>
                              <a routerLink="/ratingdetail" class="watch-btn">Watch Now&nbsp;<i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                          </div>
                      </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <div class="t-b-s-background">
                    <img src="assets/images/t-b-s-2.jpg" class="img-fluid">
                    <div class="t-b-s-box">
                        <ul class="t-b-s-ul">  
                            <li>
                                <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                            </li>
                            <li>
                                <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                            </li>
                        </ul>
                        <p class="coming-p">Coming 2 America</p>
                        <a routerLink="/ratingdetail" class="watch-btn">Watch Now&nbsp;<i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <div class="t-b-s-background">
                    <img src="assets/images/t-b-s-3.jpg" class="img-fluid">
                    <div class="t-b-s-box">
                        <ul class="t-b-s-ul">  
                            <li>
                                <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                            </li>
                            <li>
                                <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                            </li>
                        </ul>
                        <p class="coming-p">Coming 2 America</p>
                        <a routerLink="/ratingdetail" class="watch-btn">Watch Now&nbsp;<i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <div class="t-b-s-background">
                    <img src="assets/images/t-b-s-2.jpg" class="img-fluid">
                    <div class="t-b-s-box">
                        <ul class="t-b-s-ul">  
                            <li>
                                <span><i class="fa fa-star fnt-yellow" aria-hidden="true"></i>&nbsp;5.4</span>
                            </li>
                            <li>
                                <i class="fa fa-star-o st-grey-fnt" aria-hidden="true"></i>
                            </li>
                        </ul>
                        <p class="coming-p">Coming 2 America</p>
                        <a routerLink="/ratingdetail" class="watch-btn">Watch Now&nbsp;<i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
  </div>
</section>
